<!--Footer-->
<footer class="page-footer text-center font-small mt-4 wow fadeIn">

    <!--Call to action-->
    <div class="pt-4">

        <a class="btn btn-outline-white" href="https://github.com/JuanDX117/Tienda_Online.git" target="_blank"
            role="button">Repositorio
            <i class="fab fa-github ml-2"></i>
        </a>
    </div>
    <!--/.Call to action-->

    <hr class="my-4">

    <!-- Social icons -->
    <div class="pb-4">

        <a href="https://twitter.com/juandx116" target="_blank">
            <i class="fab fa-twitter mr-3"></i>
        </a>

        <a href="https://www.youtube.com/channel/UCfoawQfLLF1OYPnzqtV742w" target="_blank">
            <i class="fab fa-youtube mr-3"></i>
        </a>

        <a href="https://www.linkedin.com/in/juan-david-orjuela-gonzalez-868647181/" target="_blank">
            <i class="fab fa-linkedin mr-3"></i>
        </a>

        <a href="https://github.com/JuanDX117" target="_blank">
            <i class="fab fa-github mr-3"></i>
        </a>

    </div>
    <!-- Social icons -->

    <!--Copyright-->
    <div class="footer-copyright py-3">
        © 2023 J.E.F.S.
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->